@model List<Lead>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Dados dos Estudantes</h1>
    <h2 class="display-8">Esses são todos os nossos Estudantes!</h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" asp-controller="Lead" asp-action="Create" role="button">Adicionar novo Estudante</a>
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert position-absolute top-0 end-0" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert position-absolute top-0 end-0" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                foreach (var lead in Model)
                {
                    
                    <tr>
                        <th scope="row">@lead.Id</th>
                        <th>@lead.Name</th>
                        <th>@lead.Email</th>
                        <th>@lead.FormatCpf()</th>
                        <td>
                            <a class="btn btn-success" asp-controller="Lead" asp-action="Edit" asp-route-id="@lead.Id" role="button">Editar</a> |
                            <a class="btn btn-warning" style="color: floralwhite" asp-controller="Lead" asp-action="Details" asp-route-id="@lead.Id" role="button">Detalhes</a> |
                            <a class="btn btn-danger" asp-controller="Lead" asp-action="Delete" asp-route-id="@lead.Id" role="button">Deletar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
