@model IEnumerable<CourseCRM.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Todos os Cursos</h1>
    <h2 class="display-8">
        Sinta-se a vontade para escolher um dos nossos cursos!
    </h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" asp-controller="Course" asp-action="Create" role="button">Adicionar novo Curso</a>
    </div>



    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert position-absolute top-0 end-0" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert position-absolute top-0 end-0" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id" role="button">Editar</a> |
                        <a class="btn btn-warning" style="color: floralwhite" asp-action="Details" asp-route-id="@item.Id" role="button">Detalhes</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" role="button">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>