@model CourseCRM.Models.Enrollment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes da Matrícula</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Curso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course!.Name)
        </dd>
        <dt class="col-sm-2">
            CPF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lead!.Cpf)
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration)
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lead!.Name)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lead!.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" role="butto" class="btn btn-primary">Voltar as Matrículas</a>
</div>
