@model IEnumerable<CourseCRM.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Matrículas</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-success" role="button" asp-action="Create">Matricular um estudante</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Curso
            </th>
            <th>
                Estudante
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lead!.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-warning" style="color: floralwhite" role="button" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-danger" role="button" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
